body {
  color: #800080;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Fira Sans', sans-serif;
}

h3 {
  font-family: 'Chilanka', cursive;
}

.top-container {
  background-color: #7579e7;
  padding-top: 100px;
}

p {
  font-family: 'Secular One', sans-serif;
  font-size: 25px;
}

.middle-container {
  background-color: #9ab3f5;
}

.skill-row { width: 50%; margin: 100px auto 100px auto; text-align: left;
line-height: 2;
}

.bottom-container {
  background-color: #a5ecd7;
}

.contact-me {
  background-color: #a3d8f4;
}

.web {
  text-decoration: underline;
}

.thepro {
  position: absolute;
  left: 75px;
}

.thebest {
  position: absolute;
  left: 1000px;
}

.webimg {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.gaming {
  width: 20%;
  float: right;
  margin-left: 30px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: red;
  border-width: 10px;
  height: 5px;
  width: 7%;
  margin-top: 30px;
  margin-bottom: 30px;
}



.button {
	position: relative;
	appearance: none;
	background: #f72359;
	padding: 1em 2em;
	border: none;
	color: white;
	font-size: 1.2em;
	cursor: pointer;
	outline: none;
	overflow: hidden;
	border-radius: 100px;
	
	span {
		position: relative;
		pointer-events: none;
	}
	
	&::before {
		--size: 0;

		content: '';
		position: absolute;
		left: var(--x);
		top: var(--y);
		width: var(--size);
		height: var(--size);
		background: radial-gradient(circle closest-side, #4405f7, transparent);
		transform: translate(-50%, -50%);
		transition: width .2s ease, height .2s ease;
	}
	
	&:hover::before {
		--size: 400px;
	}
}
